html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

canvas {
  object-fit: cover;
  object-position: center right;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

video {
  visibility: hidden;

  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}


canvas {
  border: 2px solid #00f;
}

video {
  border: 2px solid #f00;
}



#debug {
  position: absolute;
  left: 0;
  top: 0;
  margin: 20px 20px;

  z-index: 100;
}

button#btnInterval {
  position: absolute;
  bottom: 0;
  right: 0;

  font-size: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #fff;
  color: #000;
  text-decoration: none;
  text-align: center;
  margin: 20px 20px;

  z-index: 100;
}
